
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
} 


div#turno {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#turno .table {
    width: 19%!important;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    margin-right:1%;
}

@media (max-width:360px) {
        #turno .table {
                width:100%!important;
                margin-left:0px;
                margin-right:0px;
        }
}
@media (min-width: 361px) and (max-width: 767px) {
        #turno .table {
                margin-left:0px;
                margin-right:0px;
                margin-right:1%;
                width:100%!important;
        }
}
@media (min-width:768px) and (max-width: 1024px) {
        #turno .table {
                width:30%!important;
                margin-right:3%;
        }
}
