h1 a, h2 a {
    color: #FF8833;
}


body {
    padding-left: 15px;
    font-family: Verdana, sans-serif;
}


.page-header {
    background-color: #D3D3D3;
    margin-top: 0;
    margin-left: 15px;
    padding: 20px 20px 20px 60px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 20pt;
    text-decoration: none;
}

.content {
    margin-left: 15px;
}

 /* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
} 

.date {
    color: #828282;
}

.save {
    float: right;
}

.horario2021-form textarea, .horario2021-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.horario2021 {
    column-count: 12;
    margin-bottom: 70px;
}

.horario2021 h2 a, .horario2021 h2 a:visited {
    color: #000000;
}

.tablas {
    margin-right: 30px;
    column-count: 5;
}



table {
  border-collapse: collapse;
  table-layout: fixed ;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}


th {
  vertical-align: bottom;
  background-color: #666;
  color: #fff;
}

td {
  font-size:11px;
}

.table td {
  font-size:11px;
  width: 9%:
}

.table tr:hover {
  background-color: #8eb2d2;
}

.primera {
  text-align: left; 	
  vertical-align: bottom;
  background-color: #666;
  color: #fff;
  font-size:14px;
}
.row {
    display: flex;
}

.column-left {
    flex: 10%;
    padding-right: 10px;
}


