* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


thead th { 
  position: sticky; top: 0; }
thead tr {
  font-size:14px;
}

tbody td:nth-child(n) {
  background: #E9E2D7;
}
tbody td:nth-child(2n) {
  background: #B1C5C3;
}

tbody th {
  font-size:10px;
  vertical-align:middle;
}




