
div .pegada {
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
}


/* Use position: sticky to have it stick to the edge
 * and top, right, or left to choose which edge to stick to: */

thead th {
  position: sticky;
  top: 0;
}



table tr:hover {
  background-color: #8eb2d2;
}

tbody td:nth-child(6n+1) {
    background: #664;
}

/* To have the header in the first column stick to the left: */

thead th:first-child {
  left: 0;
  z-index: 1;
}



thead th {
  background: #666;
  color: #fff;
  /* Ensure this stays above the emulated border right in tbody th {}: */
  z-index: 1;
}

tbody th {
  background: #666;
  color: #fff;
  font-size:12px;
  border-right: 1px solid #FFF;
  /* Browsers tend to drop borders on sticky elements, so we emulate the border-right using a box-shadow to ensure it stays: */
  box-shadow: 1px 0 0 0 #fff;
}



