
{% extends 'horario2021/base.html'%}

{% load l10n %}

{% load static %}



{% block content%}

<h3 align='center'>{{ persona }}</h3>

<div style="column-count:5" id='turno'>
{% for semana in turnos %}

<table class="table">
    <thead><th> Día semana </th><th> Fecha </th><th> Turno </th></thead>
    {% for dia in semana %}
    <tbody>
	    <tr><td>{{ dia.fecha| date:"l" | localize }}</td>
		    <td><a href="/{{ jahr }}/cambiodia/{{ dia.id }}/" target="_blank">{{ dia.fecha|date:"SHORT_DATE_FORMAT" }}</a></td>
		<td>{{ dia.turnodia__etiqueta }}</td></tr>
    </tbody>
    {% endfor %}
</table>

<br>
{% endfor %}

</div>



<h3 align='center'> Festivos trabajados y compensados </h3>
<div  id='turno'>
<table style="width:50%">
  <thead>
    <th>Festivo trabajado --> horas</th>
  </thead>
  <tbody>
  {% for dia in festivos_horas %}
    <tr><td> {{ dia.0 }}--> {{ dia.1 }}</td></tr>
  {% endfor %} 
  </tbody>
</table>
<table style="width:50%">
  <thead>
    <th>Festivo compensado</th>
  </thead>
  <tbody>
  {% for dia in compensados %}
    <tr><td> {{ dia }} </td></tr>
  {% endfor %} 
  </tbody>
</table>
</div>


    <script>
         let tur = document.getElementById("turno");
         let turse = tur.getElementsByTagName("td");
         for (i=1; i < 1400 ;i++) {
         if (turse[i].innerText.includes("tarde16")||turse[i].innerText.includes('noche')) { turse[i].style.background = "#33ceff"; }
                else if (turse[i].innerText.includes("libre")||turse[i].innerText.includes('vacas')||turse[i].innerText.includes('comp')) {turse[i].style.background = "#f0fa8f";}    
                else if (turse[i].innerText.includes("e15")||turse[i].innerText.includes("e14")) { turse[i].style.background = " #5eca68"; }
                else if (turse[i].innerText.includes("mañana")) { turse[i].style.background = "#ff5733"; }
                else if (turse[i].innerText.includes("partid")) { turse[i].style.background = "#c483fa"; }
                else { turse[i].style.background = "light blue"; }
          }
    </script>



{% endblock %}
