

{% load static %}

<html>
    <head>    
        <title> horario dpto soporte 2021</title>
	<link rel="stylesheet" href="{% static 'css/horario2021.css' %}">
	<link rel="stylesheet" href="{% static 'css/anual.css' %}">


    </head>

    <body>
        <div class="page-header">
	    <h1><a href="">horario soporte <script>document.write( new Date().getFullYear() );</script></a></h1>
	        {% if user.is_authenticated %}                    
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
                {% endif %} 

        </div>
       
	<div class="content">
            {% block content %}



            {% endblock %}
        </div>

    </body>


</html>
