{% extends 'horario2021/base.html' %}
{% block  content %} 
Actualizado horario 
<br><br>

Tech:  {{ turno_tech }}
<br><br>

<br><br>

Turno para la semana: {{ turnosemana }}
<br><br>

<h3>RECUERDA REVISAR EL TURNO DEL LUNES -- GUARDIAS</h3>
<br><br>




<br>
<a href="{% url 'horario2021:cambiosemana' jahr %}">volver</a>




{% endblock %} 
