{% extends 'horario2021/base.html' %}


{% block content %}   
<form action="" method="post">     
    {% csrf_token %}
    <p align='center'>
    <table>
    {{ form.as_table }}
    </table>
    <br> 	
    <button type="submit">
        Cambia
    </button>
    </p>           
</form>
{% endblock %}   

