{% extends 'horario2021/base.html'%}



{# Display a form #} 
{% block content %}   
<div class="horario2021-form">

<form action="" method="post">     
    {% csrf_token %}
    <p align='center'>
    <table border='1' align='center' width='20%'>
    {{ form.as_table }}
    </table>
    <br> 
    <button type="submit">
        Cambia
    </button>
    </p>           
</form>

</div>
{% endblock %}   
