{% extends 'horario2021/base.html' %}
{% block  content %} 
Actualizado horario 
<br><br>

Tech:  {{ persona }}
<br><br>

<br><br>

Turno cambiado: {{ turno_dia }}
<br><br>

<br><br>



<br>
<a href="{% url 'horario2021:cambiodias' jahr %}">volver</a>




{% endblock %} 
