{% extends 'horario2021/base.html'%}

{% block content %}

Días trabajados en cada mes 

<table class="table">
	<thead><th> Tech  </th><th> enero </th><th> febrero </th><th> marzo </th><th> abril </th><th> mayo </th><th> junio </th><th> julio </th><th> agosto </th><th> septiembre </th><th> octubre </th><th> noviembre </th><th> diciembre </th><th>anuales</th></thead>
    <tbody>
    {% for persona in matriz %}
    <tr><td>{{ persona.0 }}</td><td>{{ persona.1 }}</td><td>{{ persona.2 }}</td><td>{{ persona.3 }}</td><td>{{ persona.4 }}</td><td>{{ persona.5 }}</td><td>{{ persona.6 }}</td><td>{{ persona.7 }}</td><td>{{ persona.8 }}</td><td>{{ persona.9 }}</td><td>{{ persona.10 }}</td><td>{{ persona.11 }}</td><td>{{ persona.12 }}</td><td>{{ persona.13 }}</td></tr>	
    {% endfor %}
    </tbody>
</table>


{% endblock %}
