{% extends 'horario2021/base.html'%}


{% block content %}

{% load static %}


<br>
<div class='pegada'>
<table id='nomostrar0'>
    <thead>
	    <tr>
	    <th>Día</th>
	      {% for tanda in tandas %}
	      <th style='font-size:10px'>{{ tanda }}</th>
	    {% endfor %}
	    <tr>
    </thead>

    <tbody>
    {% for dia in matriz %}
    <tr><th style='font-size:12px; text-align:left'>{{ dia.0 | date:"l j.m.Y"}}</th>
	    {% for tanda in dia.1.values %}
            <td>{{ tanda }}</td>
	    {% endfor %}
    </tr>  

    {% endfor %}
          
    </tbody>

</table>
</div>



<script> 	      
    let tur = document.getElementById("nomostrar0");               
    let turse = tur.getElementsByTagName("td");               
    for (i=0; i < turse.length ;i++) {               
        if (turse[i].innerText.includes("0"))  { 
	        turse[i].innerHTML=" "}               
	}          
</script> 


{% endblock %}

