{% extends 'horario2021/base.html'%}

{% block content %}


<h3>Importes correspondientes a la horas bonificadas para el mes {{ dia |date:"E" }} </h3>
<table class="table">
	<thead><th> Tech  </th><th> alias  </th><th> horas sábado </th><th> importe (€) sábados </th><th> horas bonificadas </th><th> importe (€) bonificadas </th></thead>
    <tbody>
    {% for persona in matriz %}
    <tr><td>{{ persona.0 }}</td><td>{{ persona.1 }}</td><td>{{ persona.2 }}</td><td>{{ persona.3 }}</td><td>{{ persona.4 }}</td><td>{{ persona.5 }}</td></tr>	
    {% endfor %}
    </tbody>
</table>

                



{% endblock %}
