{% extends 'horario2021/base.html'%} 


{% block content  %}

{% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/calen.css' %}">


<div class="topnav">
	<a href="{% url 'horario2021:bonificadas' jahr %}" target="_blank">bonificadas</a>
    {% for i in lista_tecs %} 
    <a href="/{{ jahr }}/anual/{{ i.0 }}" target="_blank">{{ i.0 }}</a>
    {% endfor %}
</div>


{% if user.is_authenticated %}
  <div class="sidenav">
  <li><a href="{% url 'horario2021:cambiosemana' jahr %}" target="_blank">cambio semana</a></li>
  <li><a href="{% url 'horario2021:importes' jahr 1 %}" target="_blank">importes</a></li>
  <li><a href="{% url 'horario2021:cambiodias' jahr %}" target="_blank">cambio dias consecutivos</a></li>

  </div>
{% endif %}

<br>

<div id="horizontal">
<div id="vertical">
<div class = "month">
  <ul>
    <li>
      <span style="font-size:18px">Enero 2021</span>
    </li>
  </ul>
</div>
<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li><span class="nacional">1</span></li>
  <li>2</li>
  <li>3</li>
  <li><a href="{% url 'horario2021:semana' jahr 1 %}" target="_blank">4</a></li>
  <li>5</li>
  <li><span class="nacional">6</span></li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
</ul>
</div>
<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px"> febrero 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>-</li>   
  <li>-</li>  
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
</ul>
</div>
<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">marzo 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li><span class="comunidad">19</span></li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
</ul>
</div>
<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">abril 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li><span class="comunidad">1</span></li>
  <li><span class="nacional">2</span></li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
 <li>30</li>
</ul>
</div>

<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">mayo 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li><span class="nacional">1</span></li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li><span class="local">13</span></li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li><span class="comunidad">17</span></li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>  
  <li>-</li>   
  <li>-</li>  
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
</ul>
</div>

<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">junio 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
</ul>
</div>

<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">julio 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li>-</li>
</ul>
</div>

<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">agosto 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li><span class="local">16</span></li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
</ul>
</div>

<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px"> septiembre 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>-</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>-</li>
  <li>-</li>  
  <li>-</li>
</ul>
</div>

<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">octubre 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li><span class="nacional">12</span></li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
</ul>
</div>

<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">noviembre 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li><span class="nacional">1</span></li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li>6</li>
  <li>7</li>
  <li>8</li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li>25</li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
  <li>-</li>
</ul>
</div>

<div id="vertical">
<div class="month">      
  <ul>
    <li>
      <span style="font-size:18px">diciembre 2021</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Lu</li>
  <li>Ma</li>
  <li>Mi</li>
  <li>Ju</li>
  <li>Vi</li>
  <li>Sa</li>
  <li>Do</li>
</ul>

<ul class="days"> 
  <li>-</li>
  <li>-</li>
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
  <li><span class="nacional">6</span></li>
  <li>7</li>
  <li><span class="nacional">8</span></li>
  <li>9</li>
  <li>10</li>
  <li>11</li>
  <li>12</li>
  <li>13</li>
  <li>14</li>
  <li>15</li>
  <li>16</li>
  <li>17</li>
  <li>18</li>
  <li>19</li>
  <li>20</li>
  <li>21</li>
  <li>22</li>
  <li>23</li>
  <li>24</li>
  <li><span class="nacional">25</span></li>
  <li>26</li>
  <li>27</li>
  <li>28</li>
  <li>29</li>
  <li>30</li>
  <li>31</li>
  <li>-</li>
  <li>-</li>
</ul>
</div>

</div>





{% comment %}
<div class="horario2021">
    {% for dia in dias %}
        {{ dia.fecha |date:"SHORT_DATE_FORMAT" }}
    {% endfor %}
</div>
<br>
{% endcomment %}

   
{% endblock %}
