{% extends 'horario2021/base.html'%}



{# Display a form #} 
{% block content %}   
<div class="horario2021-form">



<form method="POST" enctype="multipart/form-data"> 

    {{ formset.management_data }} 

    {% csrf_token %}

    <p align='center'>
    <table border='1' align='center'>
            {{ formset }}
    </table>
    <br>
    <button type="submit">
        Cambia
    </button>
    </p>
</form> 


</div>
{% endblock %}   
