{% extends 'horario2021/base.html'%}


{% block content %}

<table id='jornadas'>
    <thead>
    <tr>
	    <th>Denominación</th>
	    <th>Hora 00</th>
	    <th>Hora 01</th>
	    <th>Hora 02</th>
	    <th>Hora 03</th>
	    <th>Hora 04</th>
	    <th>Hora 05</th>
	    <th>Hora 06</th>
	    <th>Hora 07</th>
	    <th>Hora 08</th>
	    <th>Hora 09</th>
	    <th>Hora 10</th>
	    <th>Hora 11</th>
	    <th>Hora 12</th>
            <th>Hora 13</th>
            <th>Hora 14</th>
            <th>Hora 15</th>
            <th>Hora 16</th>
            <th>Hora 17</th>
            <th>Hora 18</th>
            <th>Hora 19</th>
	    <th>Hora 20</th>
            <th>Hora 21</th>
            <th>Hora 22</th>
            <th>Hora 23</th>
    </tr>
    </thead>
    <tbody>
    
    {% for i in jornada %}
	<tr>
	    <td>{{ i.0 }}</td>
	    <td>{{ i.1 }}</td>
	    <td>{{ i.2 }}</td>
	    <td>{{ i.3 }}</td>
	    <td>{{ i.4 }}</td>
	    <td>{{ i.5 }}</td>
	    <td>{{ i.6 }}</td>
	    <td>{{ i.7 }}</td>
	    <td>{{ i.8 }}</td>
	    <td>{{ i.9 }}</td>
	    <td>{{ i.10 }}</td>
	    <td>{{ i.11 }}</td>
	    <td>{{ i.12 }}</td>
	    <td>{{ i.13 }}</td>
	    <td>{{ i.14 }}</td>
	    <td>{{ i.15 }}</td>
	    <td>{{ i.16 }}</td>
	    <td>{{ i.17 }}</td>
	    <td>{{ i.18 }}</td>
	    <td>{{ i.19 }}</td>
	    <td>{{ i.20 }}</td>
	    <td>{{ i.21 }}</td>
	    <td>{{ i.22 }}</td>
	    <td>{{ i.23 }}</td>
	    <td>{{ i.24 }}</td>
        </tr>
    {% endfor %}  
    </tbody>
</table>


<script> 	      
    let tur = document.getElementById("jornadas");               
    let turse = tur.getElementsByTagName("td");               
    for (i=1; i < 369 ;i++) {               
        if (turse[i].innerText.includes("True"))  { 
	    turse[i].style.background = "#33ceff";
	    turse[i].innerHTML="TRABAJA"}                         
	else if (turse[i].innerText.includes("False")) { 
	    turse[i].innerHTML=" "}               
	}          
</script> 



{% endblock %}
