{% extends 'horario2021/base.html'%}

{% block content %}

{% load static %}

     <link rel="stylesheet" type="text/css" href="{% static 'css/semana.css' %}">


<br>
  <table>
    <thead>
      <tr><th>Día</th>
	  {% for tanda in tandas %}
            <th>{{ tanda }}</th>
	  {% endfor %}
     </tr> 
    </thead>
    <tbody>

    {% for dia in matriz %}
    <tr><th>{{ dia.0 | date:"l"}}<br>{{ dia.0 | date:"SHORT_DATE_FORMAT" }}</th>


    <td>
       {% for grupo,values in dia.1.items %}
        {{ grupo }}: {{ values.0.1 | length }}<br>
        {% for persona in values.0.1 %}{{ persona }}<br>{% endfor %}
	<br>
      {% endfor %}
       </td>

       <td>
       {% for grupo,values in dia.1.items %}
        {{ grupo }}: {{ values.1.1 | length}}<br>
        {% for persona in values.1.1 %}{{ persona }}<br>{% endfor %}<br>
      {% endfor %}
       </td>
       <td>
       {% for grupo,values in dia.1.items %}
       {{ grupo }}: {{ values.2.1 | length}}<br>
        {% for persona in values.2.1 %}{{ persona }}<br>{% endfor %}<br>
      {% endfor %}
       </td>
       <td>
       {% for grupo,values in dia.1.items %}
       {{ grupo }}: {{ values.3.1 | length}}<br>
        {% for persona in values.3.1 %}{{ persona }}<br>{% endfor %}<br>
      {% endfor %}
       </td>
       <td>
       {% for grupo,values in dia.1.items %}
       {{ grupo }}: {{ values.4.1 | length}}<br>
        {% for persona in values.4.1 %}{{ persona }}<br>{% endfor %}<br>
      {% endfor %}
       </td>
       <td>
       {% for grupo,values in dia.1.items %}
       {{ grupo }}: {{ values.5.1 | length}}<br>
        {% for persona in values.5.1 %}{{ persona }}<br>{% endfor %}<br>
      {% endfor %}
       </td>


    </tr>  

    {% endfor %}
 
    </tbody>


 </table>

<br>

{% endblock %}






