{% extends 'horario2021/base.html' %}
{% block  content %} 

Vacaciones solicitadas por {{ persona }} para el año {{ jahr }} 

<br><br>

<br><br>
<li> primera semana, lunes: {{ vacas.lunes_1 }} </li>
<li> segunda semana, lunes: {{ vacas.lunes_2 }} </li>
<li> tercera semana, lunes: {{ vacas.lunes_3 }} </li>
<li> días sueltos:</li>
<ul>{{ vacas.fecha_1 }}</ul>
<ul>{{ vacas.fecha_2 }}</ul>
<ul>{{ vacas.fecha_3 }}</ul>
<ul>{{ vacas.fecha_4 }}</ul>
<ul>{{ vacas.fecha_5 }}</ul>
<ul>{{ vacas.fecha_6 }}</ul>
<ul>{{ vacas.fecha_7 }}</ul>
<li>días de libre disposición</li>
<ul>{{ vacas.ld_1}}</ul>
<ul>{{ vacas.ld_2}}</ul>
<li>días por exceso de horas</li>
<ul>{{ vacas.ex_1}}</ul>
<ul>{{ vacas.ex_2}}</ul><br>

<br>
<a href="{% url 'horario2021:solicitar_vacas' jahr persona %}">volver</a>




{% endblock %} 
