{% extends 'horario2021/base.html'%}

{% block content %}

Vacaciones de las personas con la tarea: {{ tarea }}
<br>
{% for fila in matriz %}
<table class="table">	
    <thead>
        <h3 style='text-align:center'>{{ fila.0 }}</h3>
    </thead>
    <tbody>
		{% for tipo, fechas in fila.1.items %}
		<tr>
			<th>{{ tipo }}</th>
			{% for fecha in fechas %}<td>{{ fecha | date:"SHORT_DATE_FORMAT" }}</td>{% endfor %}
    	</tr>
		{% endfor %}	
    </tbody>
</table>
<br>
{% endfor %}


Días festivos trabajados y compensados 
<br>
{% for fila in matriz_festivos %}

<table class="table">	
    <thead>
        <h3 style='text-align:center'>{{ fila.0 }}</h3>
    </thead>
    <tbody>
		<tr>
           <th>Festivos trabajados --> horas </th>
		   {% for dia  in fila.1 %}
           <td>{{ dia.0 }}--->  {{dia.1}} </td>{% endfor %}
        </tr>
		<tr>
           <th>Festivos compensados </th>
		   {% for dia  in fila.2 %}
           <td>{{ dia }} </td>{% endfor %}
        </tr>
    </tbody>
</table>
<br>


{% endfor %}

{% endblock %}
