{% extends 'horario2021/base.html' %}
{% block  content %} 



<br>

<table>
  <thead></thead>
  <tbody>
    {% for fecha, personas  in vacas.items %}
 
      <tr><th>{{ fecha | date:"d.m.y" }}</th> 
          {% for persona in personas %}<td>{{ persona }}</td>{% endfor %}
      <tr>

    {% endfor %}
  </tbody>
</table>



{% endblock %}
