{% extends 'horario2021/base.html' %}
{% block  content %} 



<br>
<div id='turno'>
{% for lista in matriz %}
<table border="1" cellpadding="0" cellspacing="0" style="border-collapse:separate;border-spacing:0px;border-color:#ddd;"> 
  <tbody>
      <th>FECHA</th>{% for tech, turno in lista.0.1.items %} <th>{{ tech }}</th> {% endfor %}
    {% for linea in lista %}
      <tr> <td> {{ linea.0 | date:"d.m.Y" }} </td>{%for tech, turno in linea.1.items %}<td>{{ turno }}</td> {% endfor %}<tr>
   {% endfor %}
  </tbody>
</table>
{% endfor %}
</div>



        <script>
              let tur = document.getElementById("turno");
              let turse = tur.getElementsByTagName("td");
              for (i=1; i < 1400 ;i++) {
              if (turse[i].innerText.includes("tarde_16")||turse[i].innerText.includes('noche')) { turse[i].style.background = "#33ceff"; }
                      else if (turse[i].innerText.includes("libre")||turse[i].innerText.includes("exceso")||turse[i].innerText.includes('vacas')||turse[i].innerText.includes('comp')||turse[i].innerText.includes('permiso')) {turse[i].style.background = "#f0fa8f";}    
                      else if (turse[i].innerText.includes("e_15")||turse[i].innerText.includes("e_14")) { turse[i].style.background = " #5eca68"; }
                      else if (turse[i].innerText.includes("mañana")) { turse[i].style.background = "#ff5733"; }
                      else if (turse[i].innerText.includes("contin")) { turse[i].style.background = "#c483fa"; }
                    else { turse[i].style.background = "light blue"; }
              }
         </script>


